body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
    text-align: center;
  }
  
.board{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width:400px;
  height: 400px;
  background-color: blue;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:5px;
  
}
.cell{
  display: flex;
  width:110px;
  height: 110px;
  background-color: aqua;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
}
#form{
  display:flex;
  flex-direction: column;
  margin-bottom:10px;
}
.playersName{
  display:flex;
  flex-direction: column;
}
#restartButton{
  display:none;
  justify-content: center !important;
  margin-bottom: 10px;
  
}